branca==0.6.0
folium==0.13.0
geopandas==0.12.1
matplotlib==3.6.2
numpy==1.23.3
pandas==1.4.4
streamlit==1.11.0
streamlit-folium==0.6.15
streamlit-option-menu==0.3.2
mpld3==0.5.8
streamlit-aggrid==0.3.3
hydralit-components==1.0.10
